body
  margin 0
  font-family MyriadPro

@font-face
  font-family MyriadPro
  src url("./assets/fonts/MyriadPro-Cond.otf") format("opentype")

@font-face
  font-family MyriadPro
  font-weight bold
  src url("./assets/fonts/MyriadPro-BoldCond.otf") format("opentype")

@font-face
  font-family Moderno
  src url("./assets/fonts/a_moderno.ttf") format("truetype")

@import "./../node_modules/font-awesome/css/font-awesome.css"