extends ../layout

block title
    title Главная страница

block main
    section.gallery
        .slides
            .background.active
            .background(data-src=require('./../assets/backgrounds/4.png'))
